{{#each ideas}}

<div class="container mb-3">
    <div class="well">
        <h1>
            <b>{{title}}</b>
        </h1>
        <hr>
        <h4>{{details}}<h4/>
        <br>
        <a href="/ideas/edit/view/{{id}}" class="btn btn-primary form-control">Edit</a>
        <form action="/ideas/edit/{{id}}?_method=DELETE" method="POST">
            <br>
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" class="btn btn-danger form-control" value="delete">
        </form>
    </div>
</div>

{{else}}
<div class="container">
    <div class="jumbotron" style="text-align:center">
        <h1>You haven't jotted down any ideas :(</h1><br><hr>
        <a href="/ideas/submit" class="btn btn-primary form-control">Click here to jot a new idea</a>


    </div>

</div>
{{/each}}